Repository zarr-developers/zarr-python, pull requests merged in 2023-12, with the labels that each got.

#1584 Bootstrap v3 branch with zarrita
  zarr/v3/__init__.py
  zarr/v3/abc/__init__.py
  zarr/v3/abc/array.py
  zarr/v3/abc/codec.py
  zarr/v3/abc/group.py
  zarr/v3/abc/store.py
  zarr/v3/array.py
  zarr/v3/array_v2.py
  zarr/v3/codecs.py
  zarr/v3/common.py
  zarr/v3/group.py
  zarr/v3/group_v2.py
  zarr/v3/indexing.py
  zarr/v3/metadata.py
  zarr/v3/sharding.py
  zarr/v3/store.py
  zarr/v3/sync.py
Labels: needs release notes

#1588 Extensible codecs for V3
  .pre-commit-config.yaml
  zarr/tests/test_codecs_v3.py
  zarr/v3/abc/codec.py
  zarr/v3/array.py
  zarr/v3/codecs.py
  zarr/v3/codecs/__init__.py
  zarr/v3/codecs/blosc.py
  zarr/v3/codecs/bytes.py
  zarr/v3/codecs/crc32c_.py
  zarr/v3/codecs/gzip.py
  zarr/v3/codecs/registry.py
  zarr/v3/codecs/sharding.py
  zarr/v3/codecs/transpose.py
  zarr/v3/codecs/zstd.py
  zarr/v3/common.py
  zarr/v3/metadata.py
  zarr/v3/store.py
Labels: V3-compat

#1559 Bump version of black in pre-commit
  .pre-commit-config.yaml
  bench/compress_normal.py
  zarr/_storage/absstore.py
  zarr/_storage/store.py
  zarr/_storage/v3.py
  zarr/attrs.py
  zarr/convenience.py
  zarr/creation.py
  zarr/hierarchy.py
  zarr/indexing.py
  zarr/meta.py
  zarr/n5.py
  zarr/storage.py
  zarr/tests/test_attrs.py
  zarr/tests/test_convenience.py
  zarr/tests/test_creation.py
  zarr/tests/test_dim_separator.py
  zarr/tests/test_filters.py
  zarr/tests/test_hierarchy.py
  zarr/tests/test_indexing.py
  zarr/tests/test_info.py
  zarr/tests/test_meta.py
  zarr/tests/test_storage.py
  zarr/tests/test_storage_v3.py
  zarr/tests/test_sync.py
  zarr/tests/test_util.py
  zarr/util.py
Labels: needs release notes

#1555 Use list comprehension where applicable
  zarr/tests/test_indexing.py
Labels: needs release notes

#1196 Move codespell options around
  .pre-commit-config.yaml
  pyproject.toml
Labels: stale
