Repository zarr-developers/zarr-python, pull requests merged in 2024-12, with the labels that each got.

#2515 [v3] Makes data contiguous in v2 codec
  src/zarr/codecs/_v2.py
  src/zarr/core/buffer/core.py
  tests/test_v2.py
Labels: bug, V3

#2512 Error when attempting to set with an array of incompatible shape.
  src/zarr/core/array.py
  tests/test_indexing.py
Labels: V3

#2513 DOC: Proposed updates to contributor guide.
  docs/contributing.rst
Labels: V3

#2538 Improve installation page
  docs/installation.rst
  src/zarr/core/group.py
Labels: documentation

#2544 Exclude bad version of numcodecs & fix bsddb3 doctests
  docs/conf.py
  docs/release.rst
  docs/tutorial.rst
  pyproject.toml
  requirements_dev_optional.txt
  zarr/storage.py
  zarr/tests/test_core.py
  zarr/tests/test_hierarchy.py
  zarr/tests/test_storage.py
  zarr/tests/test_storage_v3.py
Labels: V2

#2543 Fix doc version in stable doc build
  .readthedocs.yaml
  docs/conf.py
  pyproject.toml
Labels: V2

#2552 Un-pin numpy
  pyproject.toml
  zarr/convenience.py
  zarr/core.py
Labels: V2

#2565 Shorten contributing page title
  docs/contributing.rst
Labels: documentation

#2549 docs/add docstrings to synchronous API
  src/zarr/api/asynchronous.py
  src/zarr/api/synchronous.py
  src/zarr/core/array.py
  tests/test_api.py
  tests/test_array.py
Labels: documentation

#2579 Warn the user when shape or chunks contains float values
  zarr/tests/test_creation.py
  zarr/tests/test_util.py
  zarr/util.py
Labels: V2

#2601 Un-mark memory store as "for testing"
  src/zarr/storage/memory.py
Labels: documentation
