Repository zarr-developers/zarr-python, pull requests merged in 2024-10, with the labels that each got.

#2293 Remove acknowledgements page from docs
  docs/_static/custom.js
  docs/acknowledgments.rst
  docs/index.rst
Labels: documentation, V3

#2299 Add maximum character length for signatures in docs
  docs/conf.py
Labels: documentation, V3

#2290 Add BaseCodec to the docs
  src/zarr/abc/codec.py
Labels: documentation, V3

#2036 Add `string` and `bytes` dtypes plus `vlen-utf8` and `vlen-bytes` codecs
  src/zarr/codecs/__init__.py
  src/zarr/codecs/vlen_utf8.py
  src/zarr/core/array.py
  src/zarr/core/buffer/core.py
  src/zarr/core/config.py
  src/zarr/core/metadata/v3.py
  src/zarr/core/strings.py
  tests/test_strings.py
  tests/v3/test_array.py
  tests/v3/test_codecs/test_vlen.py
  tests/v3/test_config.py
  tests/v3/test_metadata/test_v3.py
Labels: V3

#2316 Add some numpydoc validation checks
  .pre-commit-config.yaml
  pyproject.toml
  src/zarr/api/asynchronous.py
  src/zarr/core/array.py
  src/zarr/core/group.py
  src/zarr/storage/zip.py
Labels: documentation, V3

#2274 Use implicit fill values for zarr v2
  src/zarr/codecs/pipeline.py
  src/zarr/core/array.py
  src/zarr/core/metadata/v2.py
  src/zarr/testing/strategies.py
  tests/v3/test_metadata/test_v2.py
  tests/v3/test_v2.py
Labels: V3, downstream

#2310 zarr.open should fall back to opening a group
  src/zarr/api/asynchronous.py
  src/zarr/api/synchronous.py
  src/zarr/core/array.py
  src/zarr/core/group.py
  src/zarr/core/metadata/v3.py
  src/zarr/errors.py
  tests/v3/test_api.py
  tests/v3/test_metadata/test_v3.py
Labels: V3, downstream

#2301 Refactor/rename v2 metadata fields
  src/zarr/api/asynchronous.py
  src/zarr/core/array.py
  src/zarr/core/group.py
  src/zarr/core/metadata/__init__.py
  src/zarr/core/metadata/common.py
  src/zarr/core/metadata/v2.py
  src/zarr/core/metadata/v3.py
  tests/v3/test_array.py
Labels: V3, downstream

#2113 Zarr-v3 Consolidated Metadata
  docs/consolidated_metadata.rst
  docs/index.rst
  src/zarr/api/asynchronous.py
  src/zarr/api/synchronous.py
  src/zarr/core/array.py
  src/zarr/core/common.py
  src/zarr/core/group.py
  src/zarr/core/metadata/v2.py
  src/zarr/core/metadata/v3.py
  tests/v3/test_codecs/test_vlen.py
  tests/v3/test_group.py
  tests/v3/test_metadata/test_consolidated.py
  tests/v3/test_metadata/test_v2.py
  tests/v3/test_metadata/test_v3.py
Labels: V3, downstream

#2312 fix(RemoteStore): avoid listing all objects in remote store in empty() method
  src/zarr/storage/remote.py
  tests/v3/test_store/test_remote.py
Labels: V3

#2323 Special case `str` dtype in array creation
  src/zarr/codecs/_v2.py
  src/zarr/core/array.py
  src/zarr/core/common.py
  src/zarr/core/metadata/v2.py
  tests/v3/test_codecs/test_vlen.py
  tests/v3/test_v2.py
Labels: V3, downstream

#2279 document storage classes and some developer apis
  docs/guide/consolidated_metadata.rst
  docs/guide/index.rst
  docs/guide/storage.rst
  src/zarr/abc/store.py
  src/zarr/storage/__init__.py
  src/zarr/storage/common.py
  src/zarr/storage/local.py
  src/zarr/storage/logging.py
  src/zarr/storage/memory.py
  src/zarr/storage/remote.py
  src/zarr/storage/zip.py
Labels: documentation, V3

#2352 Fix logo height in doc navbar
  docs/_static/custom.css
Labels: documentation

#2344 Add Python 3.13, drop Python 3.10
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/python-package.yml
  .github/workflows/windows-testing.yml
  docs/release.rst
  docs/tutorial.rst
  pyproject.toml
  zarr/storage.py
Labels: V2

#2276 Docstrings for arraymodule
  src/zarr/core/array.py
Labels: documentation, V3

#2397 Fix reading partial shards
  src/zarr/codecs/sharding.py
  tests/test_codecs/test_sharding.py
Labels: V3

#2336 sharding with empty inner chunk and index location start
  src/zarr/codecs/pipeline.py
  src/zarr/codecs/sharding.py
  tests/test_codecs/test_sharding.py
Labels: V3

#2425 Refactors v2 codec handling
  src/zarr/codecs/_v2.py
  src/zarr/core/array.py
  tests/test_v2.py
Labels: V3
