Repository zarr-developers/zarr-python, pull requests merged in 2024-09, with the labels that each got.

#1955 Add UPath dependency/type checking
  .pre-commit-config.yaml
  pyproject.toml
Labels: V3

#2002 Autogenerate all API docs
  .gitignore
  docs/Makefile
  docs/api/index.rst
  docs/api/zarr.rst
  docs/conf.py
  pyproject.toml
  src/zarr/codecs/blosc.py
  src/zarr/codecs/bytes.py
  src/zarr/codecs/sharding.py
  src/zarr/core/array.py
  src/zarr/core/buffer/core.py
  src/zarr/core/indexing.py
  src/zarr/testing/strategies.py
  src/zarr/v2/indexing.py
  src/zarr/v2/meta.py
  src/zarr/v2/n5.py
Labels: documentation, V3

#2078 feature(store): V3 ZipStore
  src/zarr/abc/store.py
  src/zarr/store/__init__.py
  src/zarr/store/local.py
  src/zarr/store/memory.py
  src/zarr/store/remote.py
  src/zarr/store/zip.py
  tests/v3/conftest.py
  tests/v3/test_array.py
  tests/v3/test_codecs/test_sharding.py
  tests/v3/test_group.py
  tests/v3/test_store/test_zip.py
Labels: V3

#2006 test: check that store, array, and group classes are serializable
  src/zarr/abc/store.py
  src/zarr/core/buffer/core.py
  src/zarr/store/memory.py
  src/zarr/store/remote.py
  src/zarr/store/zip.py
  src/zarr/testing/store.py
  tests/v3/test_array.py
  tests/v3/test_group.py
  tests/v3/test_store/test_memory.py
  tests/v3/test_store/test_remote.py
Labels: V3, tests

#2183 fix: opening a group with unspecified format finds either v2 or v3
  src/zarr/api/asynchronous.py
  src/zarr/core/config.py
  tests/v3/test_api.py
  tests/v3/test_config.py
Labels: V3

#2157 Silence hypothesis complex warning
  src/zarr/core/buffer/core.py
  tests/v3/test_array.py
  tests/v3/test_properties.py
Labels: V3

#2179 Narrow JSON type, ensure that `to_dict` always returns a dict, and v2 filter / compressor parsing
  src/zarr/abc/codec.py
  src/zarr/abc/metadata.py
  src/zarr/codecs/_v2.py
  src/zarr/codecs/blosc.py
  src/zarr/codecs/bytes.py
  src/zarr/codecs/pipeline.py
  src/zarr/codecs/sharding.py
  src/zarr/codecs/transpose.py
  src/zarr/core/array.py
  src/zarr/core/common.py
  src/zarr/core/metadata/v2.py
  src/zarr/core/metadata/v3.py
  tests/v3/test_metadata/test_v2.py
Labels: V3

#2064 implement `store.list_prefix` and `store._set_many`
  src/zarr/abc/store.py
  src/zarr/core/common.py
  src/zarr/core/sync.py
  src/zarr/store/local.py
  src/zarr/store/memory.py
  src/zarr/store/remote.py
  src/zarr/store/zip.py
  src/zarr/testing/store.py
  tests/v3/test_store/test_local.py
  tests/v3/test_store/test_remote.py
Labels: V3

#2053 Apply and enforce more ruff rules
  pyproject.toml
  src/zarr/abc/store.py
  src/zarr/api/asynchronous.py
  src/zarr/codecs/transpose.py
  src/zarr/core/array.py
  src/zarr/core/attributes.py
  src/zarr/core/buffer/core.py
  src/zarr/core/buffer/cpu.py
  src/zarr/core/buffer/gpu.py
  src/zarr/core/group.py
  src/zarr/core/indexing.py
  src/zarr/core/metadata/v3.py
  src/zarr/core/sync.py
  src/zarr/registry.py
  src/zarr/store/common.py
  src/zarr/store/local.py
  src/zarr/store/memory.py
  src/zarr/store/remote.py
  src/zarr/testing/strategies.py
  tests/v3/conftest.py
  tests/v3/test_array.py
  tests/v3/test_group.py
  tests/v3/test_indexing.py
  tests/v3/test_metadata/test_v3.py
  tests/v3/test_properties.py
  tests/v3/test_store/test_remote.py
  tests/v3/test_store/test_stateful_store.py
  tests/v3/test_v2.py
Labels: V3

#2065 Add array storage helpers
  src/zarr/abc/store.py
  src/zarr/codecs/sharding.py
  src/zarr/core/array.py
  src/zarr/core/common.py
  src/zarr/core/indexing.py
  src/zarr/store/_utils.py
  src/zarr/store/common.py
  src/zarr/store/local.py
  src/zarr/store/memory.py
  src/zarr/store/remote.py
  src/zarr/store/zip.py
  src/zarr/testing/store.py
  tests/v3/conftest.py
  tests/v3/test_array.py
  tests/v3/test_indexing.py
  tests/v3/test_store/test_remote.py
Labels: V3

#2217 chore(deps): drop support for python 3.10 and numpy 1.24
  .github/workflows/test.yml
  .readthedocs.yaml
  docs/release.rst
  docs/tutorial.rst
  pyproject.toml
  src/zarr/abc/codec.py
  src/zarr/abc/metadata.py
  src/zarr/abc/store.py
  src/zarr/codecs/blosc.py
  src/zarr/codecs/bytes.py
  src/zarr/codecs/crc32c_.py
  src/zarr/codecs/gzip.py
  src/zarr/codecs/pipeline.py
  src/zarr/codecs/sharding.py
  src/zarr/codecs/transpose.py
  src/zarr/codecs/zstd.py
  src/zarr/core/buffer/core.py
  src/zarr/core/buffer/cpu.py
  src/zarr/core/buffer/gpu.py
  src/zarr/core/chunk_grids.py
  src/zarr/core/metadata/common.py
  src/zarr/core/metadata/v2.py
  src/zarr/core/metadata/v3.py
  src/zarr/core/sync.py
  src/zarr/store/logging.py
  src/zarr/testing/buffer.py
Labels: V3

#2180 feat: metadata-only support for storage transformers metadata
  src/zarr/core/array.py
  src/zarr/core/metadata/v3.py
  tests/v3/test_array.py
  tests/v3/test_metadata/test_v3.py
Labels: V3

#2158 Default zarr.open to open_group if shape is not provided
  src/zarr/api/asynchronous.py
  src/zarr/core/array.py
  tests/v3/test_api.py
Labels: V3

#2177 Bump verison of autoapi used to build docs
  docs/conf.py
  pyproject.toml
Labels: V3
