Repository zarr-developers/zarr-python, pull requests merged in 2025-01, with the labels that each got.

#2592 docs: add new top level about page
  docs/about.rst
  docs/getting_started.rst
  docs/index.rst
Labels: documentation

#2597 docs: add docs on extending zarr 3
  docs/user-guide/arrays.rst
  docs/user-guide/extending.rst
  docs/user-guide/index.rst
  pyproject.toml
  src/zarr/storage/local.py
  test.py
Labels: documentation

#2605 Don't document zarr.codec submodules
  docs/conf.py
Labels: documentation

#2610 Improve docstrings of zarr.api.synchronous
  src/zarr/api/synchronous.py
Labels: documentation

#2589 docs: split tutorial into multiple user guide sections
  .github/workflows/test.yml
  .gitignore
  data/donotdelete
  docs/about.rst
  docs/conf.py
  docs/getting_started.rst
  docs/guide/consolidated_metadata.rst
  docs/guide/index.rst
  docs/guide/storage.rst
  docs/guide/whatsnew_v3.rst
  docs/index.rst
  docs/release.rst
  docs/tutorial.rst
  docs/user-guide/arrays.rst
  docs/user-guide/attributes.rst
  docs/user-guide/config.rst
  docs/user-guide/consolidated_metadata.rst
  docs/user-guide/extending.rst
  docs/user-guide/groups.rst
  docs/user-guide/index.rst
  docs/user-guide/performance.rst
  docs/user-guide/storage.rst
  pyproject.toml
  src/zarr/core/_tree.py
  tests/test_api.py
  tests/test_tree.py
Labels: documentation

#2596 docs: add migration page to user guide
  docs/index.rst
  docs/user-guide/config.rst
  docs/user-guide/index.rst
  docs/user-guide/storage.rst
  docs/user-guide/v3_migration.rst
Labels: documentation

#2636 Move 'about' to end of table of contents
  docs/index.rst
Labels: documentation

#2590 docs: replace getting_started page with quickstart
  docs/conf.py
  docs/getting_started.rst
  docs/index.rst
  docs/quickstart.rst
Labels: documentation

#2593 docs: consolidate developer docs + update contributing page for v3
  docs/conf.py
  docs/developers/contributing.rst
  docs/developers/index.rst
  docs/developers/release.rst
  docs/developers/roadmap.rst
  docs/index.rst
Labels: documentation

#2644 Adds documentation for sharding and sharding in Array.info
  docs/user-guide/arrays.rst
  docs/user-guide/performance.rst
  src/zarr/core/_info.py
  src/zarr/core/array.py
  src/zarr/core/codec_pipeline.py
  tests/test_array.py
  tests/test_codecs/test_sharding.py
Labels: documentation

#2645 Consistent use of 'Zarr format 2 or 3'
  docs/index.rst
  docs/user-guide/extending.rst
  docs/user-guide/v3_migration.rst
  pyproject.toml
  src/zarr/api/asynchronous.py
  src/zarr/api/synchronous.py
  src/zarr/codecs/vlen_utf8.py
  src/zarr/core/array.py
  src/zarr/core/common.py
  src/zarr/core/group.py
  src/zarr/core/metadata/v2.py
  src/zarr/core/metadata/v3.py
  tests/test_array.py
  tests/test_metadata/test_v3.py
Labels: documentation

#2651 Don't draw invalid shapes in `test_vindex`
  tests/test_properties.py
Labels: tests

#2634 Clean up release notes in preparation for v3
  docs/conf.py
  docs/developers/contributing.rst
  docs/developers/index.rst
  docs/developers/release.rst
  docs/index.rst
  docs/release-notes.rst
  docs/user-guide/v3_migration.rst
Labels: documentation

#2650 Speed up hypothesis tests
  tests/test_store/test_stateful.py
Labels: tests

#1972 array tests: handle different hexdigests from zlib-ng (#1678)
  .github/workflows/python-package.yml
  zarr/tests/test_core.py
Labels: V2

#2693 Improve test coverage for storage classes
  .gitignore
  changes/2693.bugfix.rst
  src/zarr/abc/store.py
  src/zarr/storage/_fsspec.py
  src/zarr/storage/_local.py
  src/zarr/storage/_logging.py
  src/zarr/storage/_memory.py
  src/zarr/storage/_wrapper.py
  src/zarr/storage/_zip.py
  src/zarr/testing/store.py
  tests/test_store/test_core.py
  tests/test_store/test_local.py
  tests/test_store/test_logging.py
  tests/test_store/test_wrapper.py
Labels: needs release notes

#2768 Make botocore an optional test dependency
  changes/2768.bugfix.1.rst
  changes/2768.bugfix.2.rst
  pyproject.toml
  tests/test_store/test_fsspec.py
Labels: needs release notes

#2761 add init_array, and data kwarg for create_array
  changes/2761.feature.1.rst
  src/zarr/api/synchronous.py
  src/zarr/core/array.py
  tests/test_array.py
Labels: needs release notes

#2782 Optimize is_total_slice for chunksize == 1
  changes/2782.bugfix.rst
  src/zarr/core/indexing.py
  tests/test_array.py
  tests/test_indexing.py
Labels: needs release notes

#2781 Support automatic removal of `needs release notes`
  .github/labeler.yml
  changes/2781.bugfix.rst
Labels: needs release notes
